{% extends '@SyliusUi/Layout/centered.html.twig' %}
{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/admin/css/style.css'} %}
{% endblock %}

{% set paths = {'logo': 'assets/admin/img/logo.png'} %}

{% block bodyClass 'admin__login__form' %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <img src="{{ asset('assets/shop/img/logo.png') }}" alt="{{ sylius.channel.name }}">
             
            <div style="text-align: left;">
                {% include '@SyliusUi/_flashes.html.twig' %}
            </div>

            {{ form_start(form, {'action': path('app_admin_password_reset', {'token' : user.passwordResetToken}), 'attr': {'class': 'ui large loadable form', 'novalidate': 'novalidate'}}) }}
                <div class="ui left aligned segment">
                    {{ form_row(form.password.first, {'label': 'sylius.form.user_reset_password.new'|trans}) }}
                    {{ form_row(form.password.second, {'label': 'sylius.form.user_reset_password.confirmation'|trans}) }}
                    <button type="submit" class="ui fluid large primary submit button">{{ 'sylius.ui.reset'|trans }}</button>
                </div>
                {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
            <a href="{{ path('sylius_admin_login') }}">{{ 'sylius.ui.login'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/admin/js/app.js'} %}
{% endblock %}
