<div class="ui tab" data-tab="contact">
    <h3 class="ui dividing header">{{ 'sylius.ui.channel_contacts'|trans }}</h3>
    <div class="ui column stackable grid">
        <div class="column">
            {{ form_row(form.contactEmail) }}
            {{ form_row(form.stockEmails) }}
            {{ form_row(form.orderEmails) }}
            {{ form_row(form.supportNumber) }}
            {{ form_row(form.supportEmail) }}
            {{ form_row(form.bankAccount) }}
            {{ form_row(form.address) }}
            {{ form_row(form.opening) }}
        </div>
    </div>
    {{ sonata_block_render_event('sylius.admin.channel.' ~ action ~ '.tab_contact', {'form': form}) }}
</div>
