{% import '@SyliusUi/Macro/messages.html.twig' as message %}

<div class="ui tab" data-tab="others">
    <h3 class="ui dividing header">{{ 'sylius.ui.channel_others'|trans }}</h3>    
    <div class="column">
        {{ form_row(form.skippingShippingStepAllowed) }}
        {{ form_row(form.skippingPaymentStepAllowed) }}
        {{ form_row(form.accountVerificationRequired) }}
    </div>
    {{ sonata_block_render_event('sylius.admin.channel.' ~ action ~ '.tab_settings', {'form': form}) }}
</div>
