<div class="header__main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-3 col-sm-6">
                <a href="{{ path('sylius_shop_homepage') }}">
                    <img src="{{ asset('assets/shop/img/logo-procamping.svg') }}" title="Procamping">
                </a>
            </div>
            <div class="col-xl-5 col-sm-6 header__main-search">
                {% include '@SyliusShop/Header/_search.html.twig' %}
            </div>
            {# Tents discount #}
            <div class="col-xl-4 d-none d-xl-block header__main-banner text-right">
                {{ render(path('bitbag_sylius_cms_plugin_shop_block_index_by_section_code', {'sectionCode': 'header_banner', 'template': '@SyliusShop/Header/_banner.html.twig'})) }}
                {# <a href="{{ path('sylius_shop_product_index', {'slug': 'camping/stany'}) }}"></a> #}
                {# <a href="{{ path('app_shop_tag_index', {'slug': 'vyprodej' }) }}"></a> #}
            </div>
        </div>
    </div>
</div>