{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
<tr class="text-right">
    <th colspan="3" class="right aligned" id="subtotal">{{ 'sylius.ui.subtotal'|trans }}</th>
    <th>{{ money.format(order.itemsTotal, order.currencyCode) }}</th>
</tr>
<tr class="text-right border__top__2__333">
    {% include '@SyliusShop/Common/Order/Table/_shipping.html.twig' with {'order': order} %}
</tr>
<tr class="text-right">
    {% include '@SyliusShop/Common/Order/Table/_payment.html.twig' with {'order': order} %}
</tr>
<tr class="text-right border__top__2__333">
    <td colspan="3" class="right aligned" style="font-size: 1.5em;" id="total"><strong>{{ 'sylius.ui.total'|trans }}</strong></td>
    <td class="right aligned" style="font-size: 1.5em;"><strong>{{ money.format(order.total, order.currencyCode) }}</strong></td>
</tr>
{% if order.currencyCode is not same as(sylius.currencyCode) %}
<tr class="text-right">
    <td colspan="4" class="right aligned" id="base-total">
        {{ 'sylius.ui.total_in_base_currency'|trans }}: {{ money.format(order.total, order.currencyCode) }}
    </td>
</tr>
{% endif %}
