{% import '@SyliusUi/Macro/messages.html.twig' as message %}

<div class="ui tab" data-tab="shipping">
    <h3 class="ui dividing header">{{ 'sylius.ui.shipping'|trans }}</h3>    
    {% if product.simple %}
        {{ form_row(form.variant.shippingRequired) }}
        <div class="ui one column stackable grid">
            <div class="column">
                {{ form_row(form.variant.shippingCategory) }}
                {{ form_row(form.variant.width) }}
                {{ form_row(form.variant.height) }}
                {{ form_row(form.variant.depth) }}
                {{ form_row(form.variant.weight) }}
            </div>
        </div>
    {% else %}
        {{ message.info('sylius.message.shipping_not_on_conf_prod'|trans) }}
    {% endif %}            
</div>
